<!doctype html>

<html ng-app="webapp">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>

    <title>Продукты</title>
</head>
<body>

<div class="container" ng-controller="indexController">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>

                    <form class="align-middle" ng-submit="tryToReg()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginFieldReg" class="form-control" ng-model="regUser.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <input id="navPasswordFieldReg" class="form-control" ng-model="regUser.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navRegSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>
    </nav>

    <h3>Товары</h3>

    <h5>Поиск по минимальной и/или максимальной цене</h5>

    <form ng-submit="loadProducts()">

        <table class="table table-hover">
            <tr>
                <td>Мин. цена</td>
                <td>
                    <input class="form-control" type="number" placeholder="Минимум" ng-model="min_price">
                </td>
                <td>Макс. цена</td>
                <td>
                    <input class="form-control" type="number" placeholder="Максимум" ng-model="max_price">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Отобразить</button>
                </td>
            </tr>
            <tr>
                <td>Номер страницы</td>
                <td>
                    <input class="form-control" type="number" placeholder="Страница" ng-model="page">
                </td>
            </tr>
        </table>
    </form>

    <h5>Список товаров</h5>

    <table class="table table-hover">
        <tr>
            <td>Id</td>
            <td>Наименование</td>
            <td>Цена</td>
        </tr>
        <tbody>
        <tr ng-repeat="prod in ProductsList">
            <td>{{prod.id}}</td>
            <td>{{prod.title}}</td>
            <td>{{prod.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="toCart(prod.id, prod.title)">В корзину-></button>
            </td>
        </tr>
        </tbody>
    </table>

    <h5>Корзина, однако</h5>
    <h6>Товаров на сумму {{sum}}</h6>

    <table class="table table-hover">
        <tr>
            <td>Id</td>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Количество</td>
        </tr>
        <tbody>
        <tr ng-repeat="c in Cart">
            <td>{{c.id}}</td>
            <td>{{c.title}}</td>
            <td>{{c.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="minusQuantity(c.id)">-</button>
                {{c.quantity}}
                <button class="btn btn-primary" ng-click="plusQuantity(c.id)">+</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-danger" ng-click="showCurrentUserInfo()">Обо мне</button>

</div>

</body>

</html>